@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "sass:math";

.main-content-area {
  & > header {
    &.dashboard-header {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 14px;
      position: sticky;
      top: 0;
      .live-datetime {
        font-weight: 600;
      }
      .header-right {
        display: flex;
        align-items: center;
        position: relative;
        & > * {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        .profile-menu {
          width: 45px;
          height: 45px;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            &:hover {
              cursor: pointer;
            }
          }
          .user-dropdown-menu {
            display: none;
            position: absolute;
            background-color: white;
            padding: 15px;
            border-radius: 0px 0px 10px 10px;
            transition: 0.3s all ease;
            opacity: 0;
            top: 52px;
            right: -14px;
            min-width: 160px;
            &.active {
              display: block;
              opacity: 1;
            }
            & > a {
              font-weight: 600;
              background-color: transparent;
              border-radius: 5px;
              padding: 3px 7px;
              display: block;
              font-size: 14px;
              color: var.$text-color-base;
              text-transform: uppercase;
              &:not(:last-child) {
                margin-bottom: 4px;
              }
              &:hover {
                background-color: var.$background-color-base;
              }
            }
          }
        }
        .logout-button {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: var.$background-color-base;
          border: 1px solid transparent;
          &:hover {
            cursor: pointer;
            & > i {
              color: red;
            }
          }
          i {
            font-size: 30px;
            color: var.$text-color-base;
            transition: 0.15s all ease;
          }
        }
      }
    }
  }
}
