@use "../../../abstracts/variables" as var;
@use "../../../abstracts/mixins" as mix;
@use "sass:math";

.users-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: #333;
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    @include mix.tablet-styles {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  thead {
    tr {
      @include mix.tablet-styles {
        display: none;
      }
    }
  }

  th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    @include mix.tablet-styles {
      background-color: #f4f4f4;
      padding-left: 50%;
      text-align: left;
    }
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  .btn {
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    @include mix.tablet-styles {
      display: block;
    }
  }

  .btn-edit {
    background-color: #4caf50;
    color: white;
    margin-right: 5px;
    &:hover {
      background-color: #45a049;
    }
    @include mix.tablet-styles {
      margin-right: 0;
    }
  }

  .btn-delete {
    background-color: #f44336;
    color: white;
    border: none;

    &:hover {
      background-color: #e53935;
    }
  }

  @include mix.tablet-styles {
    td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }

    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      padding-left: 10px;
      font-weight: bold;
      color: #888;
    }

    .btn {
      width: 100%;
      font-size: 12px;
      margin: 5px 0;
      text-transform: uppercase;
    }
  }

  @include mix.mobile-l-styles {
    .btn-edit,
    .btn-delete {
      width: 100%;
    }
  }
}
